<footer>
  <div class="footer-copyright text-center text-body-secondary py-3">
    
      © 2023 Copyright:<a class="text-body-secondary ps-3" href="https://nataliaboudard.com/">NBDesign</a>
   
    
      
    
      
  </div> 
</footer>

