{% extends 'base.html.twig' %}

{% block title %}Symrecipe - Modification du mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="mt-4">Modification de mot de passe</h2>

    {# read and display just one flash message type #}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning mt-4" style="max-width: 40rem;">
                {{ message }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col">
                {{ form(form) }}
            </div>
            <div class="col">
                
            </div>
        </div>

    </div>

{% endblock %}

