{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Inscription{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="mt-4">Formulaire d'inscription</h2>

    <div class="row">
        <div class="col">
             {{ form(form) }}
        </div>
        <div class="col">
            
        </div>
    </div>

       

    </div>
{% endblock %}